/*----------------------
    Fonts
------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

/*----------------------
    Default Settings
------------------------*/

*{
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Roboto', sans-serif;
  color: #F1F1F1;
}
p{
  font-size: 16px;
}
a{
  text-decoration: none;
  &:hover, &:focus, &:active{
    text-decoration: none;
  }
}
#logo{
  width: 100px;
  position:fixed;
  top: 40px;
  left: 22px;
  z-index:110;
  text-align: center;
  img{
    position: absolute;
    width: 48px;
    height: 48px;
    top: 33px;
    left: 26px;
    z-index: 200;
    cursor: pointer;
  }
  .hexy{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    svg{
      filter: drop-shadow( 0px 3px 10px rgba(0,0,0,0.5) );
      .roundedHex {
        fill: rgba(55,191,241,0);
        &.welcome{
          fill: rgba(55,191,241,0.6);
        }
        &.about{
          fill: rgba(242,153,46,0.6);
        }
        &.post{
          fill: rgba(255,94,58,0.6);
        }
        &.community{
          fill: rgba(243,114,111,0.6);
        }
        &.blog{
          fill: rgba(243,215,58,0.6);
        }
        &.chat{
          fill: rgba(65,168,95,0.6);
        }
        &.study{
          fill: rgba(8,221,193,0.6);
        }
        &.job{
          fill: rgba(9,180,202,0.6);
        }
        &.video{
          fill: rgba(50,186,231,0.6);
        }
      }
    }
    &:nth-child(2){
      transform: scale(0.7);
      z-index: 180;
      svg{
        filter: drop-shadow( 0px 5px 10px rgba(0,0,0,0.1) );
        .roundedHex {
          fill: rgba(55,191,241,0);
          &.welcome{
            fill: rgba(55,191,241, 1);
          }
          &.about{
            fill: rgba(242,153,46, 1);
          }
          &.post{
            fill: rgba(255,94,58, 1);
          }
          &.community{
            fill: rgba(243,114,111, 1);
          }
          &.blog{
            fill: rgba(243,215,58, 1);
          }
          &.chat{
            fill: rgba(65,168,95, 1);
          }
          &.study{
            fill: rgba(8,221,193, 1);
          }
          &.job{
            fill: rgba(9,180,202, 1);
          }
          &.video{
            fill: rgba(50,186,231, 1);
          }
        }
      }
    }
  }
}
.show{
  display: block;
  transition: all 0.3s ease-in-out;
}
/*----------------------
    helper classes
------------------------*/
.component{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.center-child{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.section-text{
  text-align: left;
  margin: 17% 0;
  padding-left: 80px;
  z-index: 100;
  h1{
    font-weight: 900;
    font-size: 3.3em;
  }
  p{
    margin-bottom: 30px;
  }
}

/*----------------------
    Basic css shapes
------------------------*/

.hex {
    width: 12px;
    height: 8px;
    background-color: #27aae1;
    border-color: #27aae1;
    position: relative;
    display: inline-block;
    border-radius: 0px;
    &:before {
        content: " ";
        width: 0; height: 0;
        border-bottom: 3px solid;
        border-color: inherit;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-radius: inherit;
        position: absolute;
        top: -3px;
    }
    &:after {
        content: "";
        width: 0;
        position: absolute;
        bottom: -3px;
        border-top: 3px solid;
        border-color: inherit;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-radius: inherit;
    }
}
.active-menu-item{
  position: relative;
  margin: 0px;
  &,&:before, &:after{
    width: 24px;
    height: 16px;
    background-color: #F1F1F1;
    border-radius: 4px;
  }
  &:before, &:after{
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  }
  &:before{
    transform: rotate(60deg);
  }
  &:after{
    transform: rotate(-60deg);
  }
}

/*----------------------
    The Default Page
------------------------*/

#section-name-holder{
  position: fixed;
  left: -20px;
  top: 40%;
  z-index:110;
  height: 180px;
  width: 180px;
  text-align: center;
  #section-name{
    font-size: 1.08em;
    color: #FFF;
    transform: rotate(-90deg);
    text-transform: uppercase;
  }
}

#fm-default-nav{
  position:fixed;
  bottom: 0px;
  left: 60px;
  z-index:110;
  ul{
    li{
      list-style: none;
      height: 16px;
      width: 24px;
      background: trasparent;
      margin: 15px 0px;
      position: relative;
      span{
        position: absolute;
        left: 0;
        top: 0;
        height: 16px;
        width: 24px;
        background: trasparent;
        animation-duration: 0.3s;
        animation-delay: 0;
        animation-iteration-count: 1;
      }
      a{
        position: relative;
        bottom: 2px;
        left: 6px;
        box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}

.hexy{
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

/*----------------------
    fm welcome
------------------------*/
#fm-welcome{
  background-image: url('../../images/fm-welcome-bg.jpg');
  background-repeat: repeat;
  #welcome-laptop{
    position: absolute;
    top: -70px;
    right: -50px;
    width: 500px;
    height: 350px;
    background-image: url('../../images/laptop.png');
    background-repeat: repeat;
    background-size: cover;
  }
  div.container{
    position: relative;
    margin: 0 auto;
    max-width: 1100px;
    height: 100%;
  }
  #fm-welcome-main{
    position: relative;
    top: 30%;
    #welcome-content{
      .form-holder{
        width: 360px;
        height: 533px;
        position: absolute;
        top: -140px;
        left: 0px;
        #mainButton {
          color: white;
          border: none;
          outline: none;
          font-weight: 700;
          border-radius: 2px;
          background-color: transparent;
          -webkit-transition: all 0.2s ease-in;
          -moz-transition: all 0.2s ease-in;
          -ms-transition: all 0.2s ease-in;
          -o-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
          .login-html{
          	width:100%;
          	height:100%;
          	position:absolute;
          	padding:30px 20px 20px 20px;
          }
          .login-html .sign-in-htm,
          .login-html .sign-up-htm{
          	top:0;
          	left:0;
          	right:0;
          	bottom:0;
          	position:absolute;
          	-webkit-transform:rotateY(180deg);
          	        transform:rotateY(180deg);
          	-webkit-backface-visibility:hidden;
          	        backface-visibility:hidden;
          	-webkit-transition:all .4s linear;
          	transition:all .4s linear;
          }
          .login-html .sign-in,
          .login-html .sign-up,
          .login-form .group .check{
          	display:none;
          }
          .login-html .tab,
          .login-form .group .label,
          .login-form .group .button{
          }
          .login-html .tab{
          	font-size: 18px;
          	margin-right:15px;
          	padding-bottom:5px;
          	margin:0 15px 10px 0;
          	display:inline-block;
          	border-bottom:2px solid transparent;
          }
          .login-html .sign-in:checked + .tab,
          .login-html .sign-up:checked + .tab{
          	color:#fff;
          	border-color:#f1f1f1;
            cursor: pointer
          }
          .login-form{
          	min-height:345px;
          	position:relative;
          	-webkit-perspective:1000px;
          	        perspective:1000px;
          	-webkit-transform-style:preserve-3d;
          	        transform-style:preserve-3d;
          }
          .login-form .group{
          	margin-bottom:15px;
          }
          .login-form .group .label,
          .login-form .group .input,
          .login-form .group .button{
          	width:100%;
          	color:#fff;
          	display:block;
          }
          .login-form .group .input,
          .login-form .group .button{
          	border:none;
          	padding:8px 10px;
          	border-radius:4px;
          	background:rgba(255,255,255,.1);
          }
          .login-form .group input[data-type="password"]{
          	text-security:circle;
          	-webkit-text-security:circle;
          }
          .login-form .group .label{
          	color:#f1f1f1;
          	font-size:12px;
          }
          .login-form .group .button{
          	background:#32adda;
            box-shadow: 0px 0px 10px rgba(0,0,0, 0.3);
          }
          .login-form .group label .icon{
          	width:15px;
          	height:15px;
          	border-radius:2px;
          	position:relative;
          	display:inline-block;
          	background:rgba(255,255,255,.1);
          }
          .login-form .group label .icon:before,
          .login-form .group label .icon:after{
          	content:'';
          	width:10px;
          	height:2px;
          	background:#fff;
          	position:absolute;
          	-webkit-transition:all .2s ease-in-out 0s;
          	transition:all .2s ease-in-out 0s;
          }
          .login-form .group label .icon:before{
          	left:3px;
          	width:5px;
          	bottom:6px;
          	-webkit-transform:scale(0) rotate(0);
          	        transform:scale(0) rotate(0);
          }
          .login-form .group label .icon:after{
          	top:6px;
          	right:0;
          	-webkit-transform:scale(0) rotate(0);
          	        transform:scale(0) rotate(0);
          }
          .login-form .group .check:checked + label{
          	color:#fff;
          }
          .login-form .group .check:checked + label .icon{
          	background:#32adda;
          }
          .login-form .group .check:checked + label .icon:before{
          	-webkit-transform:scale(1) rotate(45deg);
          	        transform:scale(1) rotate(45deg);
          }
          .login-form .group .check:checked + label .icon:after{
          	-webkit-transform:scale(1) rotate(-45deg);
          	        transform:scale(1) rotate(-45deg);
          }
          .login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
          	-webkit-transform:rotate(0);
          	        transform:rotate(0);
          }
          .login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
          	-webkit-transform:rotate(0);
          	        transform:rotate(0);
          }

          .hr{
          	height:2px;
          	margin:10px 0;
          	background:rgba(255,255,255,.2);
          }
          .foot-lnk{
          	text-align:center;
          }
        }
        #mainButton .btn-text {
          z-index: 2;
          display: block;
          padding: 7px 20px;
          position: absolute;
          width: 150px;
          height: 33px;
          background-color: #f1f1f1;
          color: #32adda;
          top: 320px;
          left: 100px;
          border-radius: 3px;
        }
        #mainButton .btn-text:hover {
          cursor: pointer;
        }
        #mainButton:hover {
          cursor: default;
        }
        #mainButton.active .modal {
          -webkit-transform: scale(1, 1);
          -moz-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          transform: scale(1, 1);
        }
        #mainButton .modal {
          background-color: #32adda;
          background-image: url('../../images/welcome-form-bg.png');
          background-repeat: no-repeat;
          background-size: contain;
          top: 0;
          left: 0;
          z-index: 3;
          width: 100%;
          height: 100%;
          padding: 20px;
          display: flex;
          position: absolute;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: inherit;
          transform-origin: center center;

          transform: scale(0);

          transition: all 0.2s ease-in;
        }

        .close-button {
          top: 20px;
          right: 20px;
          position: absolute;
          -webkit-transition: opacity 0.2s ease-in;
          -moz-transition: opacity 0.2s ease-in;
          -ms-transition: opacity 0.2s ease-in;
          -o-transition: opacity 0.2s ease-in;
          transition: opacity 0.2s ease-in;
        }
        .close-button:hover {
          opacity: 0.5;
          cursor: pointer;
        }

        .form-title {
          margin-bottom: 15px;
        }

        .form-button {
          width: 100%;
          padding: 10px;
          color: #00a7ee;
          margin-top: 10px;
          max-width: 400px;
          text-align: center;
          border: solid 1px white;
          background-color: white;
          -webkit-transition: color 0.2s ease-in, background-color 0.2s ease-in;
          -moz-transition: color 0.2s ease-in, background-color 0.2s ease-in;
          -ms-transition: color 0.2s ease-in, background-color 0.2s ease-in;
          -o-transition: color 0.2s ease-in, background-color 0.2s ease-in;
          transition: color 0.2s ease-in, background-color 0.2s ease-in;
        }
        .form-button:hover {
          color: white;
          cursor: pointer;
          background-color: transparent;
        }

        .input-group {
          width: 100%;
          font-size: 16px;
          max-width: 400px;
          padding-top: 20px;
          position: relative;
          margin-bottom: 15px;
        }
        .input-group input {
          width: 100%;
          color: white;
          border: none;
          outline: none;
          padding: 5px 0;
          line-height: 1;
          font-size: 16px;
          font-family: 'Raleway';
          border-bottom: solid 1px white;
          background-color: transparent;
          -webkit-transition: box-shadow 0.2s ease-in;
          -moz-transition: box-shadow 0.2s ease-in;
          -ms-transition: box-shadow 0.2s ease-in;
          -o-transition: box-shadow 0.2s ease-in;
          transition: box-shadow 0.2s ease-in;
        }
        .input-group input + label {
          left: 0;
          top: 20px;
          position: absolute;
          pointer-events: none;
          -webkit-transition: all 0.2s ease-in;
          -moz-transition: all 0.2s ease-in;
          -ms-transition: all 0.2s ease-in;
          -o-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
        }
        .input-group input:focus {
          box-shadow: 0 1px 0 0 white;
        }
        .input-group input:focus + label, .input-group input.active + label {
          font-size: 12px;
          -webkit-transform: translateY(-20px);
          -moz-transform: translateY(-20px);
          -ms-transform: translateY(-20px);
          -o-transform: translateY(-20px);
          transform: translateY(-20px);
        }
      }
    }
    img{
      height: 80px;
      width: auto;
      margin: 0 40px;
    }
    p{
      color: #fff;
      font-size: 1.3em;
      margin: 10px 50px;
      font-weight: 400;
    }
  }
  // world-map
  #world-map{
    height: 180px;
    width: 320px;
    margin-top: 20px;
    background-image: url('../../images/world-map.png');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;

    a{
      position: absolute;
      top: 40px;
      width: 100px;
      height: 33px;
      color: #30a6d2;
      font-weight: 700;
      border: none;
      border-radius: 2px;
      background: rgba(255,255,255,0.8);
      &:hover{
        background: rgba(255,255,255,1);
      }
    }
    // world-map pulse-box
    @mixin circle($circleSize){
      width: $circleSize;
      height: $circleSize;
      -webkit-border-radius: $circleSize/2;
         -moz-border-radius: $circleSize/2;
              border-radius: $circleSize/2;
    }
    .pulse-box{
      float: left;
    	width: 50px;
    	height: 50px;
    	display: flex;
    	justify-content: center;
    	align-items: center;
      position: absolute;
    }
    /* pulse in SVG */
    svg.pulse-svg{
    	overflow: visible;
    	.first-circle{
    		fill: #f00;
    		transform: scale(0.5);
    		transform-origin: center center;
    		animation: pulse-me 3s linear infinite;
    	}
    	.second-circle{
    		@extend .first-circle;
    		animation-delay: 1s;
    	}
    	.third-circle{
    		@extend .first-circle;
    		animation-delay: 2s;
    	}
    }
    @keyframes pulse-me{
    	0%{
    		transform: scale(0.5);
    		opacity: 0;
    	}
    	50%{
    		opacity: 0.1;
    	}
    	70%{
    		opacity: 0.09;
    	}
    	100%{
    		transform: scale(5);
    		opacity: 0;
    	}
    }
  }
  // what-is
  #what-is{
    position: absolute;
    bottom: -5px;
    left: 0px;
    padding: 15px 5px;
    background-color: #32adda;
    box-shadow: 0px 0px 20px rgba(0,0,0, 0.4);
    a{
      span{
        background-color: rgba(55,191,241, 1);
        padding: 10px 120px;
        color: #fff;
        z-index: 1000;
        font-weight: bold;
        text-decoration: none;
        &:hover,&:active{
          text-decoration: none;
        }
      }
      &:hover,&:focus,&:active{
        text-decoration: none;
        span{
          text-decoration: none;
        }
      }
    }
  }
  #mobile-apps{
    position: absolute;
    z-index:110;
    bottom: 20px;
    right: 120px;
    div.row{
      width: 180px;
      color: #fff;
      img{
        width: 30px;
        height: 30px;
      }
      h5{
        font-weight: 400;
      }
    }
  }
  #down-arrow{
    position: absolute;
    z-index:110;
    bottom: 40px;
    right: 60px;
    transform: scale(0.85);
  }
}

/*----------------------
    fm about
------------------------*/

#fm-about{
  #about-bg{
    span{
      height: 150vh;
      width: 170vh;
      background-color: #f2992e;
      position: absolute;
      bottom: -23%;
      right: 60%;
      box-shadow: 0px 0px 20px rgba(0,0,0, 0.4);
      transform: rotate(45deg);
    }
    #sec-bg{
      right: 62%;
    }
  }
  // the about grid
  #about-grid{
    margin: 20% 0;
    div.col-md-4{
      height: 120px;
      width: 130px;
      margin: 0;
      background-color: #e08d2b;
      opacity: 0;
    	transform: translate(250px,50px);
    	transition: 0.3s ease-in-out;
      &:nth-child(2n){
        background-color: #f2992e;
        box-shadow: 0px 0px 25px rgba(0,0,0, 0.2);
      }
      img{
        width: 80px;
        height: 80px;
        margin: 20px auto;
      }
      &.is-showing{
      	opacity: 1;
      	transform: translate(0px,0px);
      	transition: 0.3s ease-in-out;
      }
    }
  }
  #about-text{
    h1{
      margin-bottom: 20px;
    }
    h4{
      font-weight: 700;
    }
    p{
      margin: 20px 0 30px 0;
      padding-right: 30px;
      line-height: 0.5em;
      a{
        color: #ffdc1b;
        text-decoration: none;
        background: rgba(255,255,255,0);
        &:hover{
          background: rgba(255,255,255,0);
        }
      }
    }
    a{
      line-height: 2em;
      width: 100px;
      height: 38px;
      color: #e08d2b;
      font-weight: 700;
      border: none;
      background: rgba(255,255,255,0.8);
      margin-right: 10px;
      border-radius: 2px;
      &:hover{
        background: rgba(255,255,255,1);
      }
    }
  }
}

/*----------------------
    fm post
------------------------*/
#fm-post{
  background-image: url('../../images/fm-post-bg.png');
  background-repeat: repeat;
  #post-text{
    text-align: left;
    padding-left: 80px;
    z-index: 100;
    position:relative;
    top: 50vh;
    transform: translateY(-50%);
    h1{
      font-weight: 900;
      font-size: 3em;
      margin-bottom: 20px;
      span{
        font-weight: 300;
      }
    }
    p{
      span{
        font-weight: 900;
      }
    }
    #post-img-1{
      margin-left: 30px;
    }
  }
  #post-half{
    z-index: 110;
    height: 100vh;
    #post-img-2{
      position: relative;
      top: 40vh;
      left: 10%;
    }
  }
  #post-btns{
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 120;
    a{
      width: 80px;
      height: 33px;
      color: #f1f1f1;
      background-color: #ec5836;
      line-height: 1.5em;
      font-weight: 700;
      border: none;
      margin-right: 7px;
      margin-top: 40px;
      border-radius: 2px;
      box-sizing: border-box;
      &:hover{
        background-color: #f1f1f1;
        color: #ec5836;
        border: 1px solid #ec5836;
      }
    }
  }
  #post-half-bg{
    background-color: #F1F1F1;
    position: absolute;
    height: 100vh;
    width: 48vw;
    top: 0px;
    right: 0px;
    @keyframes move-around{
    	0%{
    		transform: translate(0px,0px);
    	}
    	50%{
        transform: translate(-300px,30px);
    	}
    	100%{
    		transform: translate(0px,0px);
    	}
    }
    span{
      position: absolute;
      width: 100%;
      height: 150px;
      top: 10vw;
      left: 0;
      background-image: url('../../images/fm-post-bg.png');
      background-repeat: repeat;
      z-index: 50;
    }
    div{
      z-index: 100;
    }
    #post-icon-1 img{
      height: 30px;
      width: 30px;
      position: relative;
      left: 0px;
      top: 100px;
      animation: move-around 30s infinite ease-in-out;
    }
    #post-icon-2 img{
      height: 90px;
      width: 90px;
      position: relative;
      left: 200px;
      top: 100px;
    }
  }
}

/*----------------------
    fm community
------------------------*/
#fm-community{
  background-image: url('../../images/fm-community-bg.png');
  background-repeat: no-repeat;
  background-position: top right;
  #community-text{
    p{
      margin-top: 30px;
    }
    a{
      line-height: 2em;
      width: 100px;
      height: 38px;
      color: #f1f1f1;
      background-color: #f3726f;
      font-weight: 700;
      border: none;
      margin-right: 10px;
      margin-top: 10px;
      border-radius: 2px;
      box-sizing: border-box;
      border: 1px solid #f1f1f1;
      &:hover{
        background-color: #f1f1f1;
        color: #f3726f;
      }
    }
  }
  #community-img{
    height: 350px;
    margin-top: 40%;
  }
  #community-img img{
    height: 350px;
    width: auto;
    position: relative;
    // top: 12vw;
    z-index: 100;
  }
}


/*----------------------
    fm blog
------------------------*/
#fm-blog{
  #blog-text{
    padding: 0 30px 0 0;
    text-align: left;
    padding-left: 80px;
    z-index: 100;
    margin: 100px 0 0 0;
    h1{
      font-weight: 900;
      font-size: 3em;
      color: #f1f1f1;
      margin-bottom: 30px;
      span{
        font-weight: 300;
        color: #ffdc1b;
      }
    }
    #blog-img{
      margin: 20px 0px 0px 50px;
    }
  }
  #blog-btns{
    position: absolute;
    top: 0;
    right: 50px;
    a{
      z-index: 120;
      width: 80px;
      height: 33px;
      color: #ffdc1b;
      background-color: #313639;
      line-height: 1.5em;
      font-weight: 700;
      border: none;
      margin-right: 7px;
      margin-top: 40px;
      border-radius: 2px;
      box-sizing: border-box;
      border: 1px solid #ffdc1b;
      &:hover{
        background-color: #ffdc1b;
        color: #313639;
      }
    }
  }
  #blogs{
    margin: 80px 0 0 0;
    overflow: hidden;
    .row{
      /* column width */
    	-moz-column-width: 135px;
    	-webkit-column-width: 135px;

    	/* space between columns */
    	-moz-column-gap: 14px;
    	-webkit-column-gap: 14px;
    }
    .item{
      display: inline-block;
    	width: 100%;
    }
    .blog{
      transition: all 0.2s ease-in-out;
      margin: 7px 0px;
      &:hover{
        transform: translateY(-4px);
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }
      &.clear-fix{
        clear:both;
      }
      .blog-img{
        width: 100%;
        height: auto;
        margin: 0px
      }
      .blog-body{
        padding: 10px;
        text-align: left;
        background-color: #F1F1F1;
        box-shadow: 0px 0px 25px rgba(-10,10,20, 0.2);
        .blog-title{
          font-size: 8px;
          font-weight: 700;
          text-transform: uppercase;
          color: #111211;
          margin: 0 0 3px 0;
        }
        .blog-date{
          font-size: 6px;
          color: #888;
          margin: 0px 0px;
        }
        .blog-text{
          font-size: 8px;
          color: #666;
          margin: 3px 0px;
        }
        a.blog-link{
          color: #50bec3;
          font-size: 7px;
          cursor: pointer;
          margin: 0;
        }
      }
    }
  }
}

/*----------------------
    fm chat
------------------------*/

#fm-chat{
  padding-left: 160px;
  #chat-text{
    height: 480px;
    width: 520px;
    background-color: #41a85f;
    padding: 100px 60px;
    background-image: url('../../images/chat-text-bg.png');
    background-position: top center;
    background-size: cover;
    p{
      margin-top: 30px;
    }
  }
  #chat-img{
    height: 350px;
    margin-top: 60%;
    margin-left: 80px;
    img{
      position: absolute;
      top: 45%;
      left: 110px;
      z-index: 110;
    }
    .rings {
    	position: absolute;
    	width: 800px;
    	bottom: 130px;
    	left: 290px;
    	margin-left: -400px;

    	.ring__ringlet {
    		width: 400px;
    		height: 400px;
    		background: rgba(65,168,95,0.2);
    		border-radius: 50%;
    		margin-left: 50%;
    		left: -200px;
    		position: absolute;
    		bottom: -160px;
    		transform: scale(0.1, 0.1);
    		opacity: 0;
    		animation: ring-1 3000ms ease-out infinite;

    		&:nth-of-type(2) {
    			animation-delay: 500ms;
    		}

    		&:nth-of-type(3) {
    			animation-delay: 1000ms;
    		}
        &:nth-of-type(4) {
    			animation-delay: 1500ms;
    		}
    	}
    }

    @keyframes ring-1 {
      0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
      }
    }
  }
  #chat-btns{
    position: absolute;
    top: 0;
    right: 50px;
    a{
      z-index: 120;
      width: 80px;
      height: 33px;
      color: #f1f1f1;
      background-color: #41a85f;
      line-height: 1.5em;
      font-weight: 700;
      border: none;
      margin-right: 7px;
      margin-top: 40px;
      border-radius: 2px;
      box-sizing: border-box;
      &:hover{
        background-color: #f1f1f1;
        color: #41a85f;
      }
    }
  }
}

/*----------------------
    fm study
------------------------*/
#fm-study{
  background-image: url('../../images/study-bg.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  #study-text{
    h1{
      position: relative;
      span{
        font-weight: 300;
      }
      #study-little-man{
        position: absolute;
        width: 15px;
        height: auto;
        top:-27px;
        left: 27%;
      }
      #study-pen-cup{
        margin-left: 18px;
      }
    }
    #study-pencil{
      width: 135px;
      height: 87px;
      background-image: url('../../images/fm-study-img-2.png');
      position: relative;
      left: 50%;
      top: 0;
      margin-right: 20px;
    }
    #study-map{
      margin-top: 5px;
      height: 250px;
      width: 450px;
      background-image: url('../../images/study-map.png');
      background-size: cover;
      padding: 30px 0px;
      img.study-title{
        height: 25px;
        width: auto;
        margin-bottom: 15px;
      }
      p{
        font-size: 12px;
      }
    }
  }
  #bulb-container{
    div.study-bulb{
      width: 210px;
      height: 338px;
      background-image: url('../../images/study-bulb-on.png');
      background-size: cover;
      margin-top: 50%;
      position: relative;
      left: 185px;
      &.bulb-off{
        background-image: url('../../images/study-bulb-off.png');
      }
    }
    .rings {
      transform: rotateX(82deg);
    	position: absolute;
    	width: 800px;
    	bottom: -50px;
    	left: 310px;
    	margin-left: -400px;

    	.ring__ringlet {
    		width: 400px;
    		height: 400px;
    		background: rgba(2,212,185,1);
    		border-radius: 50%;
    		margin-left: 50%;
    		left: -200px;
    		position: absolute;
    		bottom: -160px;
    		transform: scale(0.1, 0.1);
    		opacity: 0;
        border: 4px solid rgba(0,0,0, 0.1);
    		animation: ring-1 3000ms ease-out infinite;
        box-shadow: 0px 0px 25px rgba(0,0,0, 0.2);

    		&:nth-of-type(2) {
    			animation-delay: 500ms;
    		}

    		&:nth-of-type(3) {
    			animation-delay: 1000ms;
    		}
        &:nth-of-type(4) {
    			animation-delay: 1500ms;
    		}
    	}
    }

    @keyframes ring-1 {
      0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
      }
    }
  }
  #study-btns{
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 200;
    a{
      z-index: 120;
      width: 80px;
      height: 33px;
      color: #f1f1f1;
      background-color: #08ddc1;
      line-height: 1.5em;
      font-weight: 700;
      border: none;
      margin-right: 7px;
      margin-top: 40px;
      border-radius: 2px;
      box-sizing: border-box;
      border: 1px solid #f1f1f1;
      &:hover{
        background-color: #f1f1f1;
        color: #08ddc1;
      }
    }
  }
}

/*----------------------
    fm job
------------------------*/
#fm-job{
  #job-text{
    h1{
      color: #09b4ca;
      margin-left: 60px;
      span{
        color: #f1f1f1;
        font-weight: 300;
      }
    }
    p{
      margin-left: 60px;
    }
    #job-meeting{
      width: 420px;
      height: 268px;
      background-image: url('../../images/fm-job-img-1.png');
      background-size: contain;
    }
  }
  #job-btns{
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 200;
    a{
      z-index: 120;
      width: 80px;
      height: 33px;
      color: #f1f1f1;
      background-color: #09b4ca;
      line-height: 1.5em;
      font-weight: 700;
      border: none;
      margin-right: 7px;
      margin-top: 40px;
      border-radius: 2px;
      box-sizing: border-box;
      &:hover{
        background-color: #f1f1f1;
        color: #09b4ca;
      }
    }
  }
  #job-img-holder{
    position: relative;
  }
  #job-laptop{
    position: relative;
    top: 180px;
    left: 80px;
    width: 420px;
    height: 390px;
    background-image: url('../../images/fm-job-img-2.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  #job-page{
    position: absolute;
    top: 415px;
    left: 123px;
    width: 310px;
    height: 380px;
    background-image: url('../../images/fm-job-img-3.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-200px);
    transition: all 0.8s ease-in-out;
    &.is-showing{
      transform: translateY(0px);
    }
  }
}
/*----------------------
    fm video
------------------------*/
#fm-video{
  #video-text{
    text-align: left;
    padding-left: 80px;
    z-index: 100;
    position:relative;
    top: 50vh;
    transform: translateY(-50%);
    margin-top: -80px;
    h1{
      font-weight: 900;
      font-size: 3em;
      margin-bottom: 20px;
      span{
        font-weight: 300;
      }
      span.yel{
        color: #ffdc1b;
        font-weight: 900;
      }
    }
    p{
      span{
        font-weight: 900;
      }
    }
    #video-img-1{
      position: absolute;
      left: 50px;
      top: 300px;
      img{
        z-index: 1000;
        position: absolute;
      }
      @-webkit-keyframes sploosh {
        0% {
          box-shadow: 0 0 0 0px rgba(195, 44, 44, .5);
          background: rgba(195, 44, 44, .5);
        }
        80% {
          background: rgba(66, 166, 223, 0);
        }
        100% {
          box-shadow: 0 0 0 20px rgba(66, 166, 223, 0);
        }
      }

      @-webkit-keyframes pulse {
        0% {
          -webkit-transform: scale(1);
        }
        3% {
          -webkit-transform: scale(1.1);
        }
        5% {
          -webkit-transform: scale(1);
        }
        33% {
          -webkit-transform: scale(1.1);
        }
        100% {
          -webkit-transform: scale(1);
        }
      }
      .disconnect-btn {
        position: relative;
        top: 70px;
        left: 345px;
        width: 60px;
        .span {
          position: absolute;
          top: 0;
          left: 0;
          border: 0;

          width: 50px;
          height: 50px;
          border-radius: 50%;

          -webkit-animation: sploosh 2s cubic-bezier(0.165, 0.84, 0.44, 1);
          -webkit-animation-iteration-count: infinite;
        }
        .span:nth-child(2) {
          -webkit-animation-delay: .33s;
          -webkit-animation-duration: 2.2s;
        }
        button {
          border: 0;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: block;
          background-color: rgba(195, 44, 44, 0.9);

          -webkit-animation: pulse 2s ease-out;
          -webkit-animation-iteration-count: infinite;
        }
      }

    }
  }
  #video-half{
    z-index: 110;
    height: 100vh;
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    #video-img-2{
      width: 500px;
      height: 371px;
      background-image: url('../../images/fm-video-img.png');
      background-size: contain;
      left: 10%;
      #video-link{
        width: 388px;
        height: 265px;
        background-image: url('../../images/youtube-vid.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        top: 20px;
        left: 20px;
      }
    }
  }
  #video-btns{
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 120;
    a{
      width: 80px;
      height: 33px;
      color: #f1f1f1;
      background-color: transparent;
      line-height: 1.5em;
      font-weight: 700;
      border: none;
      margin-right: 7px;
      margin-top: 40px;
      border-radius: 2px;
      box-sizing: border-box;
      border: 1px solid #f1f1f1;
      &:hover{
        background-color: #ffdc1b;
        color: #111211;
        border: 1px solid #ffdc1b;
      }
    }
  }
  #video-half-bg{
    background-color: #32bae7;
    position: absolute;
    height: 100vh;
    width: 70vw;
    top: 0px;
    right: 0px;
    @keyframes move-around{
    	0%{
    		transform: translate(0px,0px);
    	}
    	50%{
        transform: translate(-300px,30px);
    	}
    	100%{
    		transform: translate(0px,0px);
    	}
    }
    span{
      position: absolute;
      width: 100%;
      height: 150px;
      top: 10vw;
      left: 0;
      background-image: url('../../images/fm-post-bg.png');
      background-repeat: repeat;
      z-index: 50;
    }
    div{
      z-index: 100;
    }
  }
}
